<!DOCTYPE html>
<html>
  <head>
    <title>ElectornicWarehouse</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Electronic Warehouse</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to 'Home', root_path, :class => "nav-link navhome" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Shopping', products_path, :class => "nav-link navshop" %>
            </li>
            <li class="nav-item">
              <%= link_to 'About us', about_us_path, :class => "nav-link navabout" %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-shopping-cart"></i> Cart</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Electronic Warehouse 2017</p>
      </div>
    </footer>
  </body>
</html>